.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}

.button-container {
  background-color: darkgray;
  height: 792px;
  width: 612px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  height: 60px;
  width: 100px;
  border-radius: 10px;
  font-weight: 800;
  font-size: large;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.text-box {
  background-color: grey;
  color: white;
  font-size: 25px;
  font-weight: 800;
  height: 75px;
  width: 200px;
  align-self: center;
}

h3 {
  margin: 25px;
}

img {
  height: 100px;
  width: 100px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}


.img-div {
  display: flex;
  justify-content: space-evenly;
}

.img-top {
  width: 225px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg)
  }
}